.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: cornflowerblue;
}

.disabled {
    background: #1077dc;
}


.default {
    background: #65b0ff;
    color: #000777;
    outline: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border: white 1px solid;
}
.safe {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #366EFF;
    border: #366EFF 1px solid;
    border-radius: 2px;
    height: 20px;
    width: 40px;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border: white 1px solid;
    width: 127px;
    height: 36px;
    left: 577px;
    top: 408px;
    color: rgba(0, 0, 0, 0.68);
}

.default:hover {
}

.logAut:hover {
}

.default:active {
}

.logAut:active {
}

.button:disabled {
}
