.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: cornflowerblue;
}

.disabled {
    background: #1077dc;
}


.default {
    background: #65b0ff;
    color: #000777;
    outline: none;
}

.logAut {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border: white 1px solid;
    width: 127px;
    height: 36px;
    left: 577px;
    top: 408px;

    color: rgba(0, 0, 0, 0.68);

}

.default:hover {
}

.logAut:hover {
}

.default:active {
}

.logAut:active {
}

.button:disabled {
}
