.formContainer{
    position: relative;
    border-bottom:  1px solid #8d724d;
}
.formLabel{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
}
.form{
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
}
.form:last-child {
    padding-right: 12px;
}

.formInput{
    padding:0 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    all: unset;
    width: 100%;
}

.error{
    color: #ff1744;
    position: absolute;
    bottom: -20px;
    font-size: 14px;
}
