.spanBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: end;
    height: 44px;
}

.spanText{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    width: max-content;
}
.span {
    display: inline-block;
    height: 30px;
    cursor: pointer;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}