.input:focus {
    outline: none;
    border: #8d724d solid 1px;
}

.input {
    color: #000000;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.inputWrapper {
}

.superInput {
    margin: 5px;
    background: #ffffff;
    color:#000000
}

.errorInput {
    margin: 5px;
    background: #2e0033;
    color: #ff99c3;
    border: #cc0000 solid 1px;
}

.errorInput:focus {
}

.error {
    color: #940622;
    height: 20px;
    margin-left: 10px;
}
