.active {
    color: black;
}

.navBlock a {
    padding: 0 10px;
    text-decoration: none;
}

.navBlock {
    display: flex;
    justify-content: space-around;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
}

.profileBlock {
    display: flex;
    align-items: center;
    gap: 3px
}

.profileImg {
    max-width: 36px;
    padding-left: 12px;
}

.profileText {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.loginBtn {
    color: white;
    background: #366EFF;
    box-shadow: 0px 4px 18px rgba(54, 110, 255, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    text-decoration: none;
    padding: 6px 16px;
}